body,
html {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: #000;
	font-size: 0.95rem;
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: flex-start;
}

.section {
	padding: 1rem;
	margin: 0 0;
}

#route-finder {
	background-color: #222;
	width: 95%;
}

.route-finder__input,
.route-finder__select {
	display: block;
	font-size: 1rem;
	margin: 0.2rem 0 1rem;
	width: 60%;
}

.route-finder__submit {
	display: block;
	margin: 1rem auto;
	background-color: #336799;
	color: white;
	font-weight: bold;
	padding: 0.3rem 0.7rem;
	font-size: 1.3rem;
	cursor: pointer;
}

.route-finder__submit--loading {
	pointer-events: none;
	background-color: #9e6916;
}

.route-finder__submit:hover {
	background-color: #4fa9ff;
}

#results {
	color: #000;
	width: 95%;
	background-color: lightgray;
}

.results__heading--loading,
.results__heading--noroutes {
	background-color: yellow;
}

.results__table {
	width: 95%;
}

.results__table thead {
	font-weight: bold;
	font-size: 1.2rem;
}

.results__table tbody tr:nth-child(2n-1) {
	background-color: white;
}

.results__table tr a {
	color: #039;
}

.results__table tr a:hover {
	color: #00194c;
}

.route-finder__about-heading {
	line-height: 1rem;
	margin-bottom: 0;
	font-size: 1.1rem;
}

.route-finder__about {
	font-size: 0.8rem;
}

.route-finder__about > a,
.route-finder__about > a:visited {
	color: #b2ffb4;
	text-decoration: none;
}

.route-finder__about > a:hover {
	color: aqua;
}

@media screen and (min-width: 700px) {
	#results {
		width: 58%;
	}

	#route-finder {
		width: 32%;
	}
}

@media screen and (min-width: 900px) {
	#results {
		width: 60%;
	}

	#route-finder {
		width: 30%;
	}
}
